/*
Style Name: HTML Atributes & Forms 
Description: Class File
Author: Sahar MamoudiMotlagh 
Version: 1.0
Tags: Learning HTML
*/

/* -------------
  Fonts
-------------- */

/* ------------ */

/* -------------
  Plugins
-------------*/

/* ___________________________________________

       CSS Guide
___________________________________________ */

/* 01. General Styles                        
   02.                             
/* _____________________________________

   01. General Styles
   _____________________________________ */

   .hidden {
    display: none;
}

